 
/****** Object:  Table [dbo].[AUniverse]    Script Date: 2020/12/12 1:53:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [AUniverse]
GO

CREATE TABLE [dbo].[AUniverse](
	[UniverseID] INT NOT NULL,
	[NamespaceID] INT NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[IsKBase] [int] NOT NULL,
	[SourceID] INT NOT NULL,
	[AccessControlID] INT NOT NULL,
	[ParentID] [int] NULL,
	[Reference] [varchar](255) NULL,
	[Description] VARCHAR(MAX) NULL,
	[Height] [int] NOT NULL,
	[Depth] [int] NOT NULL,
	[SubUniversesACID] INT NULL,
	[SubAssessmentsACID] INT NULL,
	[LogoID] [int] NULL,
	[CreatedDate] DATETIME NOT NULL,
	[ModifiedDate] DATETIME NOT NULL,
	[WorkflowsACID] INT NULL,
	[SecurityModifiedDate] DATETIME NOT NULL,
 CONSTRAINT [AUniverse_PK] PRIMARY KEY CLUSTERED 
(
	[UniverseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AUniverse] ([UniverseID], [NamespaceID], [Name], [IsKBase], [SourceID], [AccessControlID], [ParentID], [Reference], [Description], [Height], [Depth], [SubUniversesACID], [SubAssessmentsACID], [LogoID], [CreatedDate], [ModifiedDate], [WorkflowsACID], [SecurityModifiedDate]) VALUES (2, 1, N'OMLACSA', 0, N'2', 2997, 182, NULL, NULL, 86, 123, 2997, 2997, NULL, CAST(N'2018-05-14T08:30:33.000' AS DateTime), CAST(N'2020-05-24T07:10:35.113' AS DateTime), 3024, CAST(N'2020-05-24T07:53:17.290' AS DateTime))
INSERT [dbo].[AUniverse] ([UniverseID], [NamespaceID], [Name], [IsKBase], [SourceID], [AccessControlID], [ParentID], [Reference], [Description], [Height], [Depth], [SubUniversesACID], [SubAssessmentsACID], [LogoID], [CreatedDate], [ModifiedDate], [WorkflowsACID], [SecurityModifiedDate]) VALUES (3, 1, N'Group Finance', 0, N'3', 3001, 2, NULL, NULL, 117, 117, 3001, 3001, NULL, CAST(N'2018-05-14T08:31:18.507' AS DateTime), CAST(N'2020-03-31T13:50:28.473' AS DateTime), 6, CAST(N'2020-03-31T15:17:53.030' AS DateTime))
INSERT [dbo].[AUniverse] ([UniverseID], [NamespaceID], [Name], [IsKBase], [SourceID], [AccessControlID], [ParentID], [Reference], [Description], [Height], [Depth], [SubUniversesACID], [SubAssessmentsACID], [LogoID], [CreatedDate], [ModifiedDate], [WorkflowsACID], [SecurityModifiedDate]) VALUES (4, 1, N'Governance, Regulatory and Corporate Affairs', 0, N'4', 147, 2, NULL, NULL, 114, 116, 147, 147, NULL, CAST(N'2018-05-14T08:31:34.280' AS DateTime), CAST(N'2020-03-31T15:55:51.210' AS DateTime), 8, CAST(N'2020-03-31T15:55:51.210' AS DateTime))
GO
